* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1A1919;
}


.left-card {
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: 50%;
    height: 100vh;
    float: left;
}

#login-card {
    border: 1px solid blue;
    width: 50%;
    height: 512px;
    margin: 0 auto;
}

.right-card {
    border: 1px solid green;
    width: 50%;
    height: 100vh;
    float: right;
}