* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1A1919;
}


.left-card {
    display: flex;
    align-items: center;
    border: 1px solid red;
    width: 50%;
    height: 100vh;
    float: left;
}

#login-card {
    /* border: 1px solid blue; */
    max-width: 650px;
    max-height: 550px;
    background: #212121;
    border-radius: 4px;
    width: 75%;
    height: 55%;
    margin: auto auto;
}

.right-card {
    border: 1px solid green;
    width: 50%;
    height: 100vh;
    float: right;
}